@font-face{
    font-family:OpenSansLight;
    src:url(../fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face{
    font-family:OpenSansRegular;
    src:url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face{
    font-family:OpenSansBold;
    src:url(../fonts/OpenSans-Bold.ttf) format('truetype');
}
*{
    padding:0;
    margin:0;
}
body{
    font-family:OpenSansRegular;
    font-weight:400;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
a{
    color:inherit;
    text-decoration:none;
    border:none;
}
ul{
    list-style:none;
}
.wrapper{
    /*background:#4d4c72*/
}
header{
    height:70px;
    padding:0 20px;
    line-height:70px;
    color:#fff;
    background:#7477bf;
}
.logo{
    float:left;
    font-size:14px;
    font-family:OpenSansBold;
}
.logo > span{
    font-family:OpenSansLight;
}
.header-right{
    display:table-cell;
    height:70px;
    position:relative;
    float:right; 
}
.header-right img{
    margin:0 10px;
}
.bell{
    width:25x;
    height:25px;
    vertical-align:middle;
}
.user-top{
    float:right;
}
.avatar-top{
    width:30px;
    height:30px;
    border-radius:50%;
    vertical-align:middle;
}
.ver-line{
    width:1px;
    height:40px;
    float:left;
    margin:15px 0;
    background:#4d4c72;
}
nav{
    display:flex;
    justify-content:space-around;
    width:100%;
    max-height:3400px;
    float:none;
    padding:10px 0 0 0;
    background:#4d4c72
}
nav img{
    margin:20px;
    width:30px;
    height:30px;
    opacity:.5;
}
.nav-active{
    opacity:1;
}
.left-border{
    display:none;
    width:3px;
    height:60px;
    float:left;
    margin:-15px 0 0 0;
    background:#85db80;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.ico-alert{
    width:8px;
    height:8px;
    position:absolute;
    top:20px;
    left:30px;
    border-radius:50%;
    background:#85db81;
}
main{
    display:block;
    margin:0 0 0 0;
}
.tab{
    width:40%;
    height:64px;
    float:left;
    font-size:14px;
    line-height:64px;
    color:#676666;
    text-align:center;
    border-right:1px solid #dfdfdf;
    border-bottom:1px solid #fff;
    background:#fff;
}
.search{
    width:100%;
    height:64px;
    border-bottom:1px solid #dfdfdf;
    background:#fbfbfb;
}
.txt-search{
    width:100px;
    height:39px;
    float:right;
    padding:0 0 0 20px;
    margin:12px 0 0 0;
    border-top:1px solid #dfdfdf;
    border-right:none;
    border-bottom:1px solid #dfdfdf;
    border-left:1px solid #dfdfdf;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.btn-search{
    width:40px;
    height:39px;
    float:right;
    margin:12px 20px 0 0;
    border:none;
    background-image:url(../icons/btn-search.png);
}
.alert{
    height:40px;
    padding:0 20px;
    margin:20px;
    font-size:14px;
    line-height:40px;
    color:#fff;
    border-radius:4px;
    background:#7377bf;
    box-sizing:border-box;
}
.alert span{
    font-family:OpenSansBold;
}
.alert i{
    float:right;
    line-height:40px;
}
.traffic{
    height:272px;
    padding:0 10px 110px;
}
.traffic > h4{
    float:none;
    font-size:18px;
    font-family:OpenSansLight;
    line-height:40px;
}
.traffic .col-right{
    display:block;
    float:none;
}
.traffic .col-right li{
    display:inline-block;
    padding:5px 10px;
    margin:16px 5px 20px 5px;
    font-size:12px;
    font-family:OpenSansBold;
    color:rgba(0, 0, 0, .4);
}
.traffic .link-active{
    color:#fff!important;
    border-radius:16px;
    background:#81c98f;
}
.daily-mobile{
    
}
.daily-mobile h4{
    font-size:18px;
    font-family:OpenSansLight;
    line-height:60px;
}
.daily-mobile .daily{
    width:100%;
    height:280px;
    float:none;
    padding:0 20px 70px;
    box-sizing:border-box;
    border-top:1px solid rgba(0, 0, 0, .1);
    border-bottom:1px solid rgba(0, 0, 0, .1);
    overflow:show;
}
.daily-mobile .mobile{
    width:100%;
    height:280px;
    float:none;
    padding:0 20px 70px;
    box-sizing:border-box;
    border-top:1px solid rgba(0, 0, 0, .1);
    border-bottom:1px solid rgba(0, 0, 0, .1);
    overflow:show;
}
.social-stats{
    padding:20px;
    font-size:36px;
    overflow:hidden;
}
.social-stats div{
    width:100%;
    height:116px;
    float:none;
    padding:24px;
    border:1px solid rgba(0, 0, 0, .1);
    border-radius:5px;
    background:#fbfbfb;
    box-sizing:border-box;
}
.social-stats div:not(:last-of-type){
    margin:0 0 10px; 0;
}
.social-stats > h4{
    font-size:18px;
    font-family:OpenSansLight;
    line-height:60px;
}
svg{
    width:40px;
    height:40px;
}
.social-stats .icon-soc{
    fill:#fff;
}
.social-stats .icon-cont{
    width:70px;
    height:70px;
    float:left;
    padding:0;
    margin:0 20px 0 0;
    border-radius:50%;
    background:#7377bf;
    text-align:center;
    box-sizing:content-box;
    box-sizing:border-box;
}
.social-stats div:first-of-type .icon-cont{
    padding:18px 0 0 0;
}
.social-stats div:nth-of-type(2) .icon-cont{
    padding:14px 0 0 0;
}
.social-stats div:last-of-type .icon-cont{
    padding:18px 0 0 0;
}
.social-stats h5{
    font-size:16px;
    font-family:OpenSansBold;
    color:#7377bf;
}
.members-widget{
    width:100%;
    float:left;
    padding:10px 20px;
    margin:20px 0 0 0;
    border-top:1px solid rgba(0, 0, 0, .1);
    border-bottom:1px solid rgba(0, 0, 0, .1);
    box-sizing:border-box;
}
.members-widget h4{
    font-size:18px;
    font-family:OpenSansLight;
    line-height:60px;
}
.member{
    padding:16px 0 16px 0;
    border-bottom:1px solid rgba(0, 0, 0, .05);
    overflow:hidden;
}
.member:last-of-type{
    border:none;
}
.member img{
    width:50px;
    height:50px;
    float:left;
    margin:0 10px 0 0;
    border-radius:50%;
}
.member p{
    float:left;
    padding:6px 0 0 0;
    font-size:12px;
    color:rgba(0, 0, 0, .8);
}
.member a{
    color:#7377bf;
}
.member .member-date{
    float:right;
    font-size:14px;
    color:rgba(0, 0, 0, .8);
    line-height:50px;
}
.activity-widget{
    width:100%;
    float:none;
    padding:10px 20px;
    margin:20px 0 0 0;
    border-bottom:1px solid rgba(0, 0, 0, .1);
    box-sizing:border-box;
}
.activity-widget h4{
    font-size:18px;
    font-family:OpenSansLight;
    line-height:60px;
}
.activity-widget .arrow{
    width:12px;
    height:17px;
    margin:18px 0 0 0;
}
.message{
    width:100%
    float:none;
    padding:10px 20px;
    box-sizing:border-box;
    border-bottom:1px solid rgba(0, 0, 0, .1);
}
.message h4{
    font-size:18px;
    font-family:OpenSansLight;
    line-height:60px;
}
.message input{
    width:100%;
    height:40px;
    padding:0 0 0 16px;
    font-family:OpenSansRegular;
    line-height:38px;
    background:#fbfbfb;
    border:1px solid rgba(0, 0, 0, .1);
    border-radius:5px;
    box-sizing:border-box;
}
.message textarea{
    display:block;
    width:100%;
    height:140px;
    margin:10px 0 10px; 0;
    padding:16px 0 0 16px;
    font-family:OpenSansRegular;
    background:#fbfbfb;
    border:1px solid rgba(0, 0, 0, .1);
    border-radius:5px;
    box-sizing:border-box;
}
.message button{
    width:100%;
    height:40px;
    color:#fff;
    text-align:center;
    border:none;
    border-radius:5px;
    background:#7377bf;
}
.settings{
    width:100%;
    float:none;
    padding:10px 20px;
    box-sizing:border-box;
}
.settings h4{
    font-size:18px;
    font-family:OpenSansLight;
    line-height:60px;
}
.settings table{
    font-size:14px;
    color:rgba(0, 0, 0, .8);
    border-collapse:separate;
    border-spacing:10px;
}
.settings td:first-of-type{
    width:240px;
}
.settings select{
    width:100%;
    height:40px;
    padding:0 0 0 16px;
    margin:43px 0 0 0;
    font-family:OpenSansRegular;
    line-height:38px;
    background:#fbfbfb;
    border:1px solid rgba(0, 0, 0, .1);
    border-radius:5px;
    box-sizing:border-box;
}
.settings button{
    display:block;
    float:left;
    width:48%;
    height:40px;
    margin:10px 0 0 0;
    color:#fff;
    text-align:center;
    border:none;
    border-radius:5px;
    background:#b2b2b2;
}
.settings button:first-of-type{
    margin:10px 4% 0 0;
    background:#7377bf;
}
.fix{
    clear:both;
}
@media (min-width:768px){
    .logo{
        font-size:18px;
    }
    nav{
        display:block;
        width:90px;
        float:left;
        padding:40px 0 0 0;
    }
    nav img{
        display:block;
        margin:0 auto 40px;
        width:30px;
    }
    .left-border{
        display:block;
    }
    main{
        display:block;
        margin:0 0 0 90px;
    }
    .tab{
        width:20%;
        font-size:18px;
    }
}
@media (min-width:1024px){
    .logo{
        font-size:18px;
    }
    nav{
        display:block;
        width:90px;
        float:left;
        padding:40px 0 0 0;
    }
    nav img{
        display:block;
        margin:0 auto 40px;
        width:30px;
    }
    .left-border{
        display:block;
    }
    main{
        display:block;
        margin:0 0 0 90px;
    }
    .tab{
        width:20%;
        font-size:18px;
    }
    .txt-search{
        width:240px;
    }
    .traffic{
        height:272px;
        padding:0 20px 90px;
    }
    .traffic > h4{
        float:left;
        line-height:60px;
    }
    .traffic .col-right{
        float:right;
    }
    .traffic .col-right li{
        display:inline-block;
        padding:5px 10px;
        margin:20px 0 0 10px;
    }
    .daily-mobile .daily{
        width:50%;
        float:left;
        border-right:1px solid rgba(0, 0, 0, .1);

    }
    .daily-mobile .mobile{
        width:50%;
        float:left;
    }
    .social-stats{
        padding:20px;
        font-size:36px;
        overflow:hidden;
    }
    .social-stats div{
        width:32%;
        float:left;
    }
    .social-stats div:not(:last-of-type){
        margin:0 2% 0 0;
    }
    .members-widget{
        width:50%;
        float:left;
        border-right:1px solid rgba(0, 0, 0, .1);

    }
    .member img{
        width:50px;
        height:50px;
        float:left;
        margin:0 10px 0 0;
        border-radius:50%;
    }
    .activity-widget{
        width:50%;
        float:left;
        border-top:1px solid rgba(0, 0, 0, .1);
    }
    .member p{
        font-size:14px;
    }
    .message{
        width:50%;
        float:left;
        border-right:1px solid rgba(0, 0, 0, .1);
        border-bottom:none;
    }
    .settings{
        width:50%;
        float:left;
    }
}